@model BioscoopSysteemWebsite.Domain.Entities.Subscriber
@{
    ViewBag.Title = "NewSubscriber";
}

<section id="intro">
    <div class="animated bounceInDown introtext"><h1>Bestelling:</h1><h3 style="color: white;">Nieuw Abonnement</h3></div>
</section>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.Partial("_KassaMenu")
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="content">
    <div class="container">
        @using (Html.BeginForm("NewSubscriber", "Kassa", FormMethod.Post, new { enctype = "multipart/form-data" })) {
            <p style="color:green;">@ViewBag.SubscriberSucces</p>
            <p style="color:red;">@ViewBag.SubscriberError</p>
            
            <div class="form-group">
                @Html.ValidationSummary()
                <div class="text-center">
                    <table>
                        <tr><td>Voornaam:</td><td>@Html.TextBoxFor(x => x.Voornaam, new { @class = "search" })</td></tr>
                        <tr><td>Achternaam:</td><td>@Html.TextBoxFor(x => x.Achternaam, new { @class = "search" })</td></tr>
                        <tr><td>Straat:</td><td>@Html.TextBoxFor(x => x.Straat, new { @class = "search" })</td></tr>
                        <tr><td>Huisnummer:</td><td>@Html.TextBoxFor(x => x.Huisnummer, new { @class = "search" })</td></tr>
                        <tr><td>Postcode:</td><td>@Html.TextBoxFor(x => x.Postcode, new { @class = "search" })</td></tr>
                        <tr><td>Woonplaats:</td><td>@Html.TextBoxFor(x => x.Woonplaats, new { @class = "search" })</td></tr>
                        <tr><td>Foto:</td><td><input type="file" name="Image" size="40" class="fileupload" /> <br /></td></tr>
                    </table>
                </div>
                </div>
            <input type="submit" class="submitbtn" value="Bevestig" />
        }
    </div>
</section>

