@using BioscoopSysteemWebsite.Domain.Entities
@using System.Collections.Generic
@using System.Globalization

@model Dictionary<Movie, List<Show>>

@{
    CultureInfo ci;
    ViewBag.Title = "Overview";
        ci = new CultureInfo("nl-NL", false);
    DateTime vandaag = DateTime.Today.AddDays(ViewBag.SelectId);
}

<section id="intro">
    <div class="animated bounceInDown introtext"><h1>Voorstellingen voor:</h1><h3 style="color: white;">@ci.DateTimeFormat.GetDayName(vandaag.DayOfWeek) @vandaag.Day @ci.DateTimeFormat.GetMonthName(vandaag.Month)</h3></div>
</section>
<section id="content" style="padding-top: 50px">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.Partial("_KassaMenu")
                    </li>
                </ul>
            </div>
            </div>
            </nav>
            @{
                for (int x = 0; x < 7; x++) {
                    DateTime date = DateTime.Today.AddDays(x);
                    string dag;
                    bool selected = (x == ViewBag.SelectId) ? true : false;
                    switch (x) {
                        case 0:
                            dag = "Vandaag";
                            break;
                        case 1:
                            dag = "Morgen";
                            break;
                        default:
                            dag = ci.DateTimeFormat.GetDayName(date.DayOfWeek);
                            break;
                    }
                    <div id="@((int)date.DayOfWeek)" class="submitbtn timeButton dayButton @(selected ? "selected" : "")" onclick="location.href='@Url.Action("Overview", "Home", new { id = x }, null)'">
                        @dag
                    </div>
                }
            }
        </div>
        <br />
        <div class="container">
            @if (Model != null && Model.Count > 0) {
                @Html.Partial("_PartialOverview");
            } else {
                @Html.Partial("_Empty");
            }
        </div>
</section>
