@model BioscoopSysteemWebsite.Domain.Entities.Show
@using BioscoopSysteemWebsite.Domain.Entities
@{
    List<SelectListItem> movieListSelect = ViewBag.MovieSelect;
    List<SelectListItem> roomListSelect = ViewBag.RoomSelect;
    List<LadiesNight> ladiesNightList = ViewBag.ladiesNightList;
    ViewBag.Title = "Voorstelling toevoegen";
}
<script type="text/javascript">
    $(document).ready(function () {

        $('#ladies').change(function () {
            if (this.checked) {

                $('#ladiesnight').fadeIn('fast').css("display", "inline-block");
                $('select#ladiesnight').fadeIn('fast').css("display", "inline-block");
            } else {
                $('#ladiesnight').fadeOut('fast');
                $('select#ladiesnight').fadeOut('fast');

            }
        })
    });
</script>
<section id="content">
    <div class="container">
        @using (Html.BeginForm("VoorstellingToevoegen", "Planner", FormMethod.Post)) {
            <label for="film">Kies een film</label>@Html.DropDownListFor(x => x.MovieId, movieListSelect, new { @class = "form-control" })

            <br />
            @ViewBag.RoomError

            <label for="zaal">Kies een zaal</label>@Html.DropDownListFor(x => x.RoomId, roomListSelect, new { @class = "form-control" })
            <br />
            <label for="popcorn">Popcornarrangement</label><div class="checkbox-inline">@Html.CheckBoxFor(x => x.PopcornArrangement, true)</div>

            <label for="VIP">Vip-kaartje</label>@Html.CheckBoxFor(x => x.VIP, true)
            <br />
            @ViewBag.DateError
            <label>Start datum</label><input type="date" name="datum" />
            @ViewBag.TimeError
            <label>Starttijd</label><input type="time" name="starttijd" />
            <br />
            <label for="holiday">Vakantie</label><div class="checkbox-inline">@Html.CheckBoxFor(x => x.Holiday, true)</div>


            <input type="submit" value="Voorstelling toevoegen" />
        }
    </div>
</section>
