@model List<BioscoopSysteemWebsite.Domain.Entities.TicketSoort>
@using BioscoopSysteemWebsite.Domain.Entities
@{
    ViewBag.Title = "Overview";
}

<section id="content">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.Partial("_ManagerMenu")
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container">
    <div class="text-center">
        <table class="table">
            <thead>
            <td>#</td>
            <td>Naam</td>
            <td>Prijs</td>
            <td>Engelse naam</td>
            <tbody class="table-striped">
                @foreach (TicketSoort tickets in Model) {
                    <tr><td>@tickets.TicketSoortID</td><td>@tickets.Naam</td><td>@tickets.Price</td><td>@tickets.EnglishTicketName</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>
</section>