@model BioscoopSysteemWebsite.Domain.Entities.TicketSoort
@{
    ViewBag.Title = "Ticket toevoegen";
}
<section id="content">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.Partial("_ManagerMenu")
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container">
    <div class="form-group form-inline">
        @using (Html.BeginForm("TicketToevoegen", "Admin", FormMethod.Post)) { 
            <table>
                <tr><td>Ticketnaam:</td><td>@Html.TextBoxFor(x => x.Naam, new { @class = "search" })</td></tr>
                <tr><td>Prijs:</td><td>@Html.TextBox("prijs", null, new { @class = "search" }) @Html.TextBox("prijsDecimal", null, new { @class = "search" }) </td></tr>
                <tr><td>Engelse Ticketnaam:</td><td>@Html.TextBoxFor(x => x.EnglishTicketName, new { @class = "search" })</td></tr>
            </table>
            <input type="hidden" name="userId" value="@ViewBag.Userid" />
    
            <input type="submit" value="Ticket toevoegen"  class="submitbtn"/>
    }
    </div>
</div>
</section>