@model BioscoopSysteemWebsite.Domain.Entities.User
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<section id="content">
    <div class="container">
        <div class="col-md-2">
            <div class="form-group">

                @using (Html.BeginForm("Index", "Home", FormMethod.Post)) {
                    @Html.ValidationSummary()
                    <div class="validation-summary-errors">
                        @ViewBag.IncorrectUser
                        @ViewBag.IncorrectPassword
                    </div>
                    <div>
                        <label>Logincode</label> @Html.TextBoxFor(x => x.UserId, new { @class = "search" })
                    </div>
                    <div>
                        <label>Wachtwoord</label> @Html.PasswordFor(x => x.Password, new { @class = "search" })
                    </div>
                    <br />
                        <input class="submitbtn" type="submit" value="Login" />
                }
                </div>
            </div>
        </div>
    </section>
